<!DOCTYPE html>
{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='custom_style.css')}}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
<h3>RaspberryPi Zero W server time: {{ time }}</h3>
<br>
Moisture:
{% if running == 1 %}
   moisture data being written to log-file
{% else %}
   {{ moisture }}
{% endif %}
<br>
<br>

<h3>Logging to local file:</h3>
<br>
<h3>{% if running == 1 %}
       <a href="/ms/stop"class="button1">STOP</a>
{% else %}
       <a href="/ms/start" class="button1">START</a>
{% endif %}
  logging </h3>

<br>
<br>
<form id="filename">
    filename: {{ filename }}
    <br>
    <label class="h2" form="filename">Change Filename</label>

    current filename: {{ filename }}<br>

    <label for="new_filename">new filename</label>
    <input type="text" name="new_filename" id="new_filename" maxlength="30">

    <button class="button3" type="reset">RESET</button>
    <button class="button2" type="submit">SUBMIT</button>
</form>

{% endblock %}