<!DOCTYPE html>
{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='custom_style.css')}}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
<h3>RaspberryPi Zero W server time: {{ time }}</h3>
<br>
Moisture:
{% if running == 1 %}
   moisture data being written to log-file
{% else %}
   {{ moisture }}
{% endif %}
<br>
<br>

<h2>Logging to local file:</h2>
<br>
<h3>{% if running == 1 %}
       <a href="/ms/stop"class="button1">STOP</a>
{% else %}
       <a href="/ms/start" class="button1">START</a>
{% endif %}
  logging </h3>

<br>
<br>
<form action="/filename" method="post" novalidate id="filename">
    <label class="h2" form="filename">Change Filename</label>
    <br>
    <br>
    <b>current filename:</b> {{ filename }}
    <br>
    <br>
    {{ form.hidden_tag() }}
    <p>
        {{ form.filename.label }}<br>
        {{ form.filename(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}


