<!DOCTYPE html>
{% extends "bootstrap/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href='../static/style.css'/>
{% endblock %}

{% block content %}
<h1>The date and time on the server is: {{ time }}</h1>
<h2>Moisture:
    {% if running == 1 %}
       moisture data being written to log-file
    {% else %}
       {{ moisture }}
    {% endif %}</h2>

<br>
<br>
<br>
<h1>Logging to local file:</h1>


<h3>{% if running == 1 %}
       <a href="/ms/stop"class="button">STOP</a>
{% else %}
       <a href="/ms/start" class="button">START</a>
{% endif %}
  logging </h3>
{% endblock %}